{% extends 'base.html' %}

{% block title %}
Accounts
{% endblock title %}

{% block main %}
<div>
    <table>
        <thead>
            <th>Account</th>
            <th>Account Number</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}
