{% extends 'base.html' %}

{% block title %}
Expense Categories
{% endblock title %}

{% block main %}
<div>
    <table>
        <thead>
            <th>Category</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for category in expense_categories %}
            <tr>
                <td>{{ category }}</td>
                <td>{{ category.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}
